body {
    margin: 0;
    font-family: 'Amaranth', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    background: rgb(224, 234, 247);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: rgb(254, 251, 245);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

input {
    height: 25px;
}

button {
    height: 25px;
}

.name-tag {
    margin-top: 20px;
    width: 400px;
    height: 255px;
    color: white;
    text-align: center;
    border-radius: 25px;
}
.name-tag.red {
    background: rgb(248, 87, 87);
    
}

.name-tag.blue {
    background: rgb(86, 131, 244);
    
}

.name-tag.green {
    background: rgb(84, 133, 91);
    
}

h2 {
    margin: 0;
    font-size: 3em;
    padding: 10px;
}

.intro {
    margin: 0;
    font-size: 1.5em;
}

.name-display {
    margin: 0;
    margin-top: 15px;
    padding: 15px;
    background: white;
    color: black;
    font-family: 'Amaranth', cursive;
    font-size: 4em;
}

.purple {
color: blueviolet;
}